﻿<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="Employees" Text="Pracownicy"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="Departments" Text="Działy Firmy"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string StateCssClass { get; set; }
}
