﻿@page "/Departments"
@inject HttpClient Http
@inject Services.EmployeeService EmployeeService
@inject Services.DepartmentService DepartmentService
@using System.Collections.ObjectModel

<h3>Działy Firmy</h3>
<DxDataGrid @ref="grid"
            DataAsync="@DepartmentService.GetDepartmentsEditableAsync"
            KeyFieldName="@nameof(Exercise_01.Shared.Department.ID)"
            RowRemovingAsync="@OnRowRemovingAsync"
            RowUpdatingAsync="@OnRowUpdatingAsync"
            RowInsertingAsync="@OnRowInsertingAsync"
            InitNewRow="@OnInitNewRowAsync"
            EditMode="@CurrentEditMode"
            ShowDetailRow="true"
            CssClass="mw-1100">
    <Columns>
        <DxDataGridCommandColumn Width="120px" />
        <DxDataGridColumn Caption="Id" Field="@nameof(Exercise_01.Shared.Department.ID)" EditorVisible="false" />
        <DxDataGridColumn Caption="Name" Field="@nameof(Exercise_01.Shared.Department.Name)" />
    </Columns>
    <DetailRowTemplate Context="dataItem">
        <DxDataGrid @ref="detailsGrid"
                    SelectionMode="DataGridSelectionMode.None"
                    DataAsync="@EmployeeService.GetEmployessByDepartmentAsync(dataItem)"
                    RowUpdatingAsync="@onEmployeeEditAsync"
                    RowInsertingAsync="@OnEmployeeAddAsync"
                    EditMode="@CurrentEditMode"
                    PageSize="5">
            <DxDataGridCommandColumn DeleteButtonVisible="false" Width="120px">
            </DxDataGridCommandColumn>
            <DxDataGridColumn Field="@nameof(Exercise_01.Shared.Employee.ID)" EditorVisible="false" />
            <DxDataGridColumn Field="@nameof(Exercise_01.Shared.Employee.FirstName)" />
            <DxDataGridColumn Field="@nameof(Exercise_01.Shared.Employee.Surname)" />
            <DxDataGridComboBoxColumn Caption="Department" Field="@nameof(Exercise_01.Shared.Employee.DepartmentID)" DataAsync="@DepartmentService.GetDepartmentsEditableAsync" ValueFieldName="@nameof(Exercise_01.Shared.Department.ID)" TextFieldName="@nameof(Exercise_01.Shared.Department.Name)" Visible="false" EditorVisible="true" />
        </DxDataGrid>
    </DetailRowTemplate>
</DxDataGrid>
@code {
    DataGridEditMode currentEditMode = DataGridEditMode.PopupEditForm;
    DataGridEditMode CurrentEditMode
    {
        get => currentEditMode;
        set
        {
            if (currentEditMode != value)
            {
                currentEditMode = value;
                CancelEdit();
            }
        }
    }
    private DxDataGrid<Exercise_01.Shared.Employee> detailsGrid;
    async Task OnRowRemovingAsync(Exercise_01.Shared.Department dataItem)
    {
        await DepartmentService.RemoveDepartmentAsync(dataItem);
        StateHasChanged();
    }
    async Task OnRowUpdatingAsync(Exercise_01.Shared.Department dataItem, IDictionary<string, object> newValues)
    {
        await DepartmentService.UpdateDepartmentAsync(dataItem, newValues);
        StateHasChanged();
    }
    async Task OnRowInsertingAsync(IDictionary<string, object> newValues)
    {
        await DepartmentService.InsertDepartmentAsync(newValues);
        StateHasChanged();
    }
    async Task OnInitNewRowAsync(Dictionary<string, object> values)
    {
        values.Add(nameof(Exercise_01.Shared.Department.Name), "IT");
        await Task.CompletedTask;
    }
    void CancelEdit()
    {
        var cancelTask = Task.Run(async () => await grid.CancelRowEdit());
        cancelTask.GetAwaiter().GetResult();
    }
    //Details data grid
    private DxDataGrid<Exercise_01.Shared.Department> grid;
    async Task OnEmployeeAddAsync(IDictionary<string, object> newValues)
    {
        await EmployeeService.InsertEmployeeAsync(newValues);
        StateHasChanged();
    }
    async Task onEmployeeEditAsync(Exercise_01.Shared.Employee dataItem, IDictionary<string, object> newValues)
    {
        await EmployeeService.UpdateEmployeeAsync(dataItem, newValues);
        StateHasChanged();
    }
}