﻿@page "/"
@inject NavigationManager NavManager
@inject HttpClient Http
@using System.Collections.ObjectModel





@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/Employees");
    }
    /*

    @if (employees == null)
    {
    <p><em>Loading...</em></p>
    }
    else
    {
    <DxDataGrid Data="@employees"
                CssClass="mw-1100">
        <Columns>
            <DxDataGridColumn Caption="ID" Field="ID" />
            <DxDataGridColumn Caption="DepartmentID" Field="DepartmentID" />
            <DxDataGridColumn Caption="FirstName" Field="FirstName" />
            <DxDataGridColumn Caption="Surname" Field="Surname" />
            <DxDataGridColumn Caption="Department" Field="Department" />
        </Columns>
    </DxDataGrid>
    }



    static readonly Random random = new Random();
    readonly ObservableCollection<Employee> employees = new ObservableCollection<Employee>();

    protected override void OnInitialized()
    {

        foreach (var date in Enumerable.Range(1, 30).Select(i => DateTime.Now.Date.AddDays(i)))
        {
            employees.Add(new Employee()
            {
                ID = 1,
                DepartmentID = 2,
                FirstName = "Tak",
                Surname = "Nie",
                Department = new Department(1, "Eo")
            });
        }
    }*/
}

<!--<ul>
    <li><a class="helplink" href="https://demos.devexpress.com/blazor/" target="_blank">Online Demos</a></li>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor/blob/master/examples.md" target="_blank">Examples</a></li>
    <li><a class="helplink" href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
    <li><a class="helplink" href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor Training Course</a></li>
</ul>-->
